<div class="row">
  <div class="col-md-6" id="loginFormCard">
    <h2 class="cardTitle">Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label id="labelEmailLogin" for="email-login"></label>
        <input class="form-input" placeholder="Enter Email" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login"></label>
        <input class="form-input" placeholder="Enter Password" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button id="login-submit" class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">

  <div id="signup-form">
     <h2 class="cardTitle">Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup" id="name-signup2"></label>
        <input class="form-input" placeholder="Enter Name" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup" id="email-signup2"></label>
        <input class="form-input" placeholder="Enter Email" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup" id="password-signup2"></label>
        <input class="form-input" placeholder="Enter Password" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button id= "sign-up button" class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<section class="profile">
{{profile}}
</section>

<script src="./js/login.js"></script>
<script src="./js/signup.js"></script>
