<form>
  <lable>Make</lable>
  <select>
    <option>Select</option>
    <option value="this.make">Jeep</option>
    <option value="this.make">Ram</option>
    <option value="this.make">Dodge</option>
    <option value="this.make">Chevrolet</option>
  </select>
  <lable>Model</lable>
  <select>
    <option>Select</option>
    <option value="this.model">Gladiator</option>
    <option value="this.model">TRX</option>
    <option value="this.model">Challenger</option>
    <option value="this.model">Corvette</option>
  </select>
  <lable>Year</lable>
  <select>
    <option>Select</option>
    <option value="this.year">2023</option>
    <option value="this.year">2022</option>
    <option value="this.year">2021</option>
    <option value="this.year">2020</option>
  </select>
  <lable>Color</lable>
  <select>
    <option>Select</option>
    <option value="this.color">Red</option>
    <option value="this.color">Orange</option>
    <option value="this.color">Blue</option>
    <option value="this.color">Purple</option>
  </select>
  <input type="submit" value="submit"> 
</form>

<section class="search">
  {{search}}
</section>

